#app {
	display: flex;
}
.activity {
	width: 10rem;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: Inter;
	font-size: .33rem;
	.top {
		width: 100%;
		height: 11.98rem;
		background: url('@/assets/img/bg_01.jpg') no-repeat;
		background-size: 100% 100%;
		.header {
			display: flex;
			justify-content: space-between;
			.logo {
				width: 2rem;
				margin-left: .427rem;
			}
	
			.login-btn {
				width: 3.8rem;
			}
		}
		
	}
	.main {
		display: flex;
		flex-direction: column;
		.red-envelope-box {
			width: 100%;
			height: 10.48rem;
			background: url('@/assets/img/bg_02.png') no-repeat;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			.red-envelope {
				width: 6.28rem;
				margin-top: 1.9rem;
				margin-left: 1rem;
			}
		}
		.claim-now-box {
			width: 100%;
			height: 1.93rem;
			background: url('@/assets/img/bg_03.png') no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.claim-now-btn {
				width: 5.7rem;
				padding: .3rem 0;
			}
		}

		.claim-text-box {
			width: 100%;
			height: 7.9rem;
			background: url('@/assets/img/bg_04.png') no-repeat;
			background-size: 100% auto;
			display: flex;
			justify-content: center;
			position: relative;

			p {
				color: #CB9434;
				text-align: center;
				font-family: Inter;
				font-size: .33rem;
				font-style: normal;
				font-weight: 500;
				position: absolute;
				bottom: 30%;
			}
		}

		.friends-list-box {
			width: 100%;
			height: 7.03rem;
			padding-top: .3rem;
			background: url('@/assets/img/bg_05.png') no-repeat;
			background-size: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;

			.list {
				width: 78%;

				.list-con {
					height: 2.6rem;
					overflow: scroll;
					border-radius: 0 0 .1rem .1rem;
				}

				.item {
					padding: .1rem 0;
					display: flex;
					font-size: .4rem;
					color: #911805;
					text-align: center;
					border-bottom: 1px solid #DCDCDC;
					background: rgba(255, 255, 255, .7);

					.item-con {
						flex: 1;
						font-weight: 600;
					}
				}

				.header {
					padding: .17rem 0;
					background: #EFAC5E;
					border-radius: .1rem .1rem 0 0;
				}
			}

			.invite-now-btn {
				width: 57.3%;
				margin-top: .4rem;
			}

			.text {
				color: #CB9434;
				text-align: center;
				font-size: .33rem;
				font-weight: 500;
			}
		}

		.welfare-top-box {
			width: 100%;
			height: 7.1rem;
			background: url('@/assets/img/bg_06.png') no-repeat;
			background-size: 100% 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;

			.title-img {
				width: 37%;
				margin-top: -.9rem;
			}

			.qcode-img {
				width: 29%;
				position: absolute;
				bottom: -.1rem;
			}
		}

		.welfare-bottom-box {
			width: 100%;
			height: 6.2rem;
			background: url('@/assets/img/bg_07.jpg') no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: center;

			.logo-list {
				width: 65%;
				height: 1.5rem;
				margin-top: 1rem;
				display: flex;
				border-top: 2px solid rgba(179, 41, 0, .5);
				border-bottom: 2px solid rgba(179, 41, 0, .5);

				.item {
					flex: 1;
					margin: .3rem 0;
					border-right: 2px solid rgba(179, 41, 0, .5);
					display: flex;
					align-items: center;
					justify-content: center;

					&:last-child {
						border: 0;
					}

					.wx-icon {
						width: 1rem;
					}

					.dy-icon {
						width: .7rem;
					}

					.tap-icon {
						width: 1rem;
					}

					.bilibili-icon {
						width: 1.4rem;
					}
				}
			}
		}

		.use-title-box {
			width: 100%;
			height: 2.24rem;
			background: url('@/assets/img/bg_08.png') no-repeat;
			background-size: 100% 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.title-img {
				width: 22%;
				margin: 1.7rem 0 0 0;
			}
		}

		.use-text-box {
			width: 100%;
			height: 2.74rem;
			background: url('@/assets/img/bg_09.jpg') no-repeat;
			background-size: 100% 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				width: 80%;
				color: #911805;
				font-family: "Source Han Sans CN";
				font-size: .33rem;
				font-style: normal;
				font-weight: 500;
				line-height: .53rem;
				/* 160% */
				letter-spacing: 2.5px;
			}
		}

		.tips-box {
			width: 100%;
			height: 2.35rem;
			background: url('@/assets/img/bg_10.png') no-repeat;
			background-size: 100% 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.title-img {
				width: 22%;
				margin: 1.6rem 0 0 0;
			}
		}

		.rule-box {
			width: 100%;
			height: 25rem;
			background: url('@/assets/img/bg_11.jpg') no-repeat;
			background-size: 100% 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #911805;
			font-family: "Source Han Sans CN";
			font-size: .33rem;
			font-style: normal;
			letter-spacing: 2.5px;

			p {
				width: 70%;
				margin-top: .6rem;
				font-weight: 500;
				line-height: .53rem;
				/* 160% */
			}

			.title-img {
				width: 22%;
				margin: 4.3rem 0 .5rem 0;
			}

			.list {
				width: 70%;

				.item {
					margin-left: .5rem;
					margin-top: .2rem;
					font-weight: 400;
					list-style: decimal;
					&:nth-child(3) {
						font-weight: 900;
					}
				}
			}
		}
	}
	::v-deep .van-dialog {
		background: none !important;
	}
}
::v-deep .van-dialog {
    overflow: visible;
}
input::placeholder {
    color: #A63A20;
}